h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif !important;
}



*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover; /* Código de color anaranjado */
    backdrop-filter: blur(95px);
    background-color: #e0e0e0;
  }

  



/* NAVBAR */

 
    .navbar-brand{
        justify-content: space-between;


    }

    .navbar-brand {
      justify-content: space-between;
      font-family: "Flareserif821BT Bold";
      font-size: 30px;
  }
  
  .nav-link {
      color: white !important;
  }
      
      nav ul li {
        font-size: 20px;
        font-family: Flareserif 821 BT;
        font-weight: bold;
        justify-content: space-between;
    }
    
    nav ul li a:hover {
        background: #d4d113;
        border-radius: 6px;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

/* DROPDOWN */

    /* Estilos para el menú desplegable */
    .navbar .nav-item.dropdown .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #fff; /* Cambia el color de fondo según tu diseño */
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .navbar .nav-item.dropdown:hover .dropdown-menu {
      display: block;
  }

  .navbar .nav-item.dropdown .dropdown-menu a {
      color: #333; /* Cambia el color de texto según tu diseño */
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .navbar .nav-item.dropdown .dropdown-menu a:hover {
      background-color: #f5f5f5; /* Cambia el color de fondo al pasar el cursor */
  }

  @media (max-width: 991.98px) {
    .navbar .nav-item.dropdown .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #fff; /* Cambia el color de fondo según tu diseño */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: calc(100% - 20px); /* Ajusta el ancho según tus necesidades */
        left: 10px; /* Centra el menú en la pantalla */
    }

    .navbar .nav-item.dropdown .dropdown-menu.show {
        display: block;
    }

    .navbar .nav-item.dropdown .dropdown-menu a {
        color: #333; /* Cambia el color de texto según tu diseño */
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .navbar .nav-item.dropdown .dropdown-menu a:hover {
        background-color: #f5f5f5; /* Cambia el color de fondo al pasar el cursor */
    }
}
.image-container{
  margin-block: 3em !important;
}




  /* SLIDE - CAROUSSEL */
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    text-align: center;
    width: 100%;
  }
  
  .carousel-caption h1 {
    font-size: 70px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
  .carousel-caption p {
    font-size: 18px;
  }
  
  .jumbotron {
    position: relative;
    padding: 0;
  }
  
  .jumbotron img {
    object-fit: cover;
    width: 100%;
    height: 500px;
  }
  
  /* FORMS USADOS */
  
  form {
    margin: 25px;
  }
  
  .form-group label {
    font-weight: bold;
    margin: 10px;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  a {
    color: #ffffff;
    text-decoration: none;

    
}
  .mb-2 a {
    color: #0c63e4; 
  }


  a:hover{
      color: #331a63;
          text-decoration: none;
  }

/* BOTTOMS */
  
  .btn-primary {
    background-color: #04d349;
    border-color: #04d349;
    margin-top: 1em;
  }
  
  .btn-primary:hover {
    background-color: #0e9e3e;
    transition: background-color 0.3s ease;
    border-color: #0e9e3e;
  }
  
  /* CARDS */
  
  .card-columns {
    margin-top: 1em;
    column-count: 3;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .card img {
    object-fit: cover;

  }


.display-5 {
  color: #fff;
  font-size: px;
}
/* CAJA LISTA DE RECOMPENSAS*/

.mb-2{
  color: red !important;
}

/* Modify button styles */
.btn-buy {
  color: #000;
  border-color: #fff;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-buy:hover {
  opacity: .9;
  color: #fff;
  border-color: #000;
  background-color: #000;
  transition: .3s;
}

/* Transform text LOGO */
.logo {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  color: #f6fa0a;
}

/* Color background navigation */
.lightgreen {
  background-color: #defcd2;
}

.opacity:hover {
  opacity: .7;
  transition: .2s;
}

/* Resize */
.resizing {
  height: 75vh;
}

.vh-50 {
  height: 50vh;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

/* Background Image */
.bg-img {
  background-color: #cfdd0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%231e40af' fill-opacity='0.14' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

/* Section text */
.card-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Darken a image */
.darken {
  filter: brightness(75%);
}

/* Divider class */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Any colors */
.gray {
  color: #4B5563;
}

.dodgerblue {
  color: dodgerblue;
}

.lime {
  color: #22C55E;
}

.violet {
  color: #8B5CF6;
}

.yellow {
  color: #FACC15;
}

/* Footer styles */
.container-fluid a {
  text-decoration: none;
  color: #495057;
}

.container-fluid a:hover {
  color: #d7ee09;
}

.shadow div > input:focus {
  border: 2px solid #d7ee09;
  box-shadow: none;
}

.shadow div > select:focus {
  border: 2px solid #d7ee09;
  box-shadow: none;
}

/* Calc */
.bg-gray {
  background-color: #3b4563;
}

.bg-coolgray {
  background-color: #191f32;
}

.bg-green {
  background-color: #ccffaf;
}

.calc {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 75%; /* Full-width */
  height: 10em; /* Specified height */
  outline: none; /* Remove outline */
  background: #191f32;
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity 0.2s;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  color: #fff;
}

.calc:focus {
  background-color: #191f32;
  color: #fff;
  box-shadow: none;
  border: 2px solid dodgerblue;
}

.container .d-flex > button {
  font-weight: bold;
  color: #3b4563;
  font-size: 2rem;
  flex: 1 1 auto;
}

/* Buttons gray */
.btn-gray {
  background-color: #647296;
  border: none;
  box-shadow: 0px 3px 1px 0px hsl(224, 28%, 35%);
}

.btn-gray:hover {
  background-color: #d7ee09;
  border: none;
  box-shadow: 0px 3px 1px 0px hsl(143, 75%, 35%);
}

/* Button red */
.btn-red {
  background-color: #f14936;
  border: none;
  box-shadow: 0px 3px 1px 0px hsl(6, 70%, 34%);
}

.btn-red:hover {
  background-color: #FBBF24;
  border: none;
  box-shadow: 0px 3px 1px 0px #D97706;
}

/* Buttons lights */
.btn-light {
  box-shadow: 0px 3px 1px 0px hsl(229, 8%, 61%);
}
.btn-green {
  background-color: green;
  color: white;
}

.container .d-flex .btn-light:hover {
  /* opacity: .7; */
  background-color: #8B5CF6;
  color: #fff;
  border: none;
  box-shadow: 0px 3px 1px 0px #6744b8;
  transition: .3s;
} 

/* Rounded class */
.rounded-4 {
  border-radius: 15px;
}

.text-bg-success {
  background-color: #d7ee09;
}

/* Grid propperty */
.grid-space {
  grid-template-rows: 1fr min-content;
}

/* Responsive Nav Bar */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.custom-img {
  height: 400px; /* Establece la altura deseada */
  object-fit: cover; /* Para ajustar la imagen dentro del contenedor */
}

.g-0:hover{

      transform: scale(1.05);
      transition: transform 0.3s ease;
      cursor: pointer;

}


/* CARDS */

.product-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h4 {
  margin-top: 10px;
}

.product-card p {
  color: #6c757d;
}





/* BUTTON */

.add-to-cart-btn {
  background-color: #77b95c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.pay-btn {
  background-color: #77b95c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
}

.pay-btn:hover{
  opacity: .9;
  color: #fff;

  background-color: #3c813f;
  transition: .3s;

}

.btn-start {
  display: inline-block;
  padding: 12px 24px;
  background-color:#0e9e3e;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-top: 20px;
}
  
  .btn-start:hover {
    background-color: #fff;
    color: #000;
  }
  
  .btn-start:active {
    transform: translateY(2px);
  }

  .card {
    transition: transform 0.3s ease;
  }
    
  .card:hover {
    transform: scale(1.05);
  }






  



/* ------------------------------------------------------ */
  /* ANIMATION-FLOATING DESCRIPTION */

  .floating-text {
    animation: floatingAnimation 3s infinite ease-in-out;
  }
  
  .floating-description {
    animation: floatingAnimation 3s infinite ease-in-out;
  }
  
  .digitize-animation {
    animation: digitize 1s steps(40) infinite;
    animation-delay: 8s;
  }
  
  
  @keyframes floatingAnimation {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }
  
  .circle-box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
  }

  .circle-box i {
    font-size: 36px;
    color: #333; /* Cambia el color del icono según tu preferencia */
  }









/* Footer */
footer {
  position: absolute;
  width: 100%;
  background: #d7ee09;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .social_icon li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.4s;
}

footer .social_icon li a :hover {
  transform: translateY(-10px);
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.container {
  padding-left: 20px; /* Ajusta este valor según sea necesario */
  padding-right: 20px; /* Ajusta este valor según sea necesario */
}


.footer-content {
  max-width: 800px; /* Ajusta este valor según sea necesario */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

.social_icon {
  justify-content: center; /* Alinea los íconos sociales al centro */
}





